.container-color {
  color: #9edeff;
}
div.container {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #9edeff;
}
a {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#fuck {
  background: darkred;
}
.mixin-class {
  background: darkred;
}
